forceAppCategoryTitle {
    display: block;
    width: 75%;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
    background: #585858;
    color: #f8f8f8;
    font-weight: 500;
    border: #f8f8f8 solid 2px;
}

.countryitem {
    cursor: pointer;
    list-style: none;
    background-color: white;

    color: #2E2E2E;
    margin: .5rem;
    padding: .5rem;

    border: 1px solid rgba(0, 0, 0, .125);
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.countryitem p {
    font-size: 20px;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;

}

.countryitem img {
    height: 50px;
    width: 80px;

}

.countryitem .rating {
    background: #f8f8f863;
    color: dimgray;
    padding: 1rem;
    font-size: 24px;
    border-radius: .5rem;
    border: 1px solid #f8f8f863;
}

.countryitem .nuclear {
    margin-right: -75px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    width: auto;


}

.countryitem .info {
    font-size: 12px;
    font-weight: 400;
    width: 50%;
}



.countryitem .forceButton {
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    background-color: #ebebeb;
    color: #1d1d1d;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    outline: 0;
    margin-right: .5rem;
    margin-bottom: .5rem;
    width: 5rem;
    display: inline-block;
}

.countryitem .forceButton:hover {
    background: white;
    border: 1px solid #ebebeb;

}


@media screen and (max-width: 480px) {
    .countryitem img {
        height: 25px;
        width: 40px;

    }

    .countryitem .rating {
        margin-left: .10rem;
        background: #f8f8f863;
        color: dimgray;
        padding: .5rem;
        font-size: 18px;
        border-radius: .5rem;
        border: 1px solid #f8f8f863;
    }

    .countryitem .info {
        font-size: 12px;
        font-weight: 400;
        width: 100%;
    }

    .countryitem .nuclear {
        margin-right: -40px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        color: white;
        width: auto;


    }


    .countryitem .forceButton {
        padding: .5rem;
        text-align: center;
        font-size: .75rem;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        background-color: #ebebeb;
        color: #1d1d1d;
        cursor: pointer;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        outline: 0;
        margin-right: .25rem;
        margin-bottom: .25rem;
        width: 4rem;
        display: inline-block;
    }
}