 .jquery-loading-modal__info-box {
     background: white !important;
     border-radius: .25rem;
     padding: 2rem !important;
     -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21) !important;
     box-shadow: 0 16px 28px 0 rgba(0, 0, 0, .22), 0 25px 55px 0 rgba(0, 0, 0, .21) !important;
 }

 .jquery-loading-modal__text {
     min-width: 250px;
 }

 .sk-cube1 {
     background-color: rgb(10, 10, 10) !important;
 }

 .sk-cube2 {
     background-color: rgb(187, 186, 186) !important;
 }

 .jquery-loading-modal__info-box .animationAwesome {
     position: absolute;
     left: 0;
     top: 0;
     margin-top: .5rem;
     color: gray !important;
     -webkit-animation: fa-spin 4s infinite linear !important;
     animation: fa-spin 4s infinite linear !important;
 }
 @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }

 .jquery-loading-modal__info-box .successAwesome {
     position: absolute;
     left: 0;
     top: 0;
     margin-top: .5rem;
     color: green !important;
     -webkit-animation: sk-doubleBounce 4s infinite linear !important;
     animation: sk-doubleBounce 4s infinite linear !important;
 }

 .jquery-loading-modal__info-box .errorAwesome {
     position: absolute;
     left: 0;
     top: 0;
     margin-top: .5rem;
     color: #f44336 !important;
     animation: sk-doubleBounce 4.0s infinite ease-in-out;
     -webkit-animation: sk-doubleBounce 4s infinite linear !important;
 }

 .sk-three-bounce {
     margin: auto !important;
 }

 .sk-three-bounce .sk-bounce1 {
     background-color: #b5b5b5 !important;
     margin-right: 8px !important;
     width: 16px !important;
     height: 16px !important;
 }

 .sk-three-bounce .sk-bounce2 {
     background-color: #afafaf !important;
     margin-right: 8px !important;
     width: 16px !important;
     height: 16px !important;
 }

 .sk-three-bounce .sk-bounce3 {
     background-color: #8c8a8a !important;
     margin-right: 8px !important;
     width: 16px !important;
     height: 16px !important;
 }

 @-webkit-keyframes sk-doubleBounce {
     0%,
     100% {
         -webkit-transform: scale(.8);
         transform: scale(.8);
     }
     50% {
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
     }
 }

 @keyframes sk-doubleBounce {
     0%,
     100% {
         -webkit-transform: scale(.8);
         transform: scale(.8);
     }
     50% {
         -webkit-transform: scale(1.2);
         transform: scale(1.2);
     }
 }

 .progressWrapper {
     height: 0.26rem;
     width: 250px;
     background: white;
     margin-top: 1.5rem;
     display: block;
     border: 1px solid #cccccc;
     border-right: unset;
     border-left: unset;
 }

 .progressTitle {
     margin-top: 1.5rem;
     color: black;
     font-size: 14px;
     padding: .25rem;
     font-weight: 900;
 }

 .progressMessage {
     color: black;
     font-size: 12px;
     padding: .25rem;
     font-weight: 500;
 }

 .progressMessage span {
     font-size: 14px;
     font-weight: 900;
     margin-right: .25rem;
     margin-left: .25rem;
 }

 .errorMessage {
     color: #f44336 !important;
     font-weight: 900;
 }

 .progressSlides {
     margin-top: 1rem;
 }

 .progressSlideTitle {
     color: black;
     font-size: .75rem;
     margin-bottom: -10%;
     margin-top: 1rem;
     font-weight: 100;
     text-align: left;
 }

 .progressPercent {
     background-color: #666666;
     transition: all 400ms linear;
     margin-left: 0%;
     font-size: .7rem;
 }

 .uploadProgress {
     height: .25rem;
     background: red;
     width: 0%;
     transition: all 400ms linear;
 }

 .uploadProgressCurrent {
     height: .25rem;
     background: darkblue;
     width: 0%;
     transition: all 400ms linear;
 }

 .error {
     background-color: #f44336 !important;
 }

 .buttonWrapper {}

 .cancelButton {
     margin-top: 1.5rem;
     display: none;
     padding-top: .50rem;
     padding-bottom: 0.50rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     font-size: .75rem;
     font-weight: 700;
     background: #bbbbbb !important;
     border: 1px solid #bbbbbb !important;
     color: white;
 }

 .cancelButton:hover {
     background: white !important;
     border: 1px solid #bbbbbb !important;
     color: #bbbbbb;
     -webkit-box-shadow: unset !important;
     box-shadow: unset !important;
 }

 .retryButton {
     margin-top: 1.5rem;
     display: none;
     padding-top: .50rem;
     padding-bottom: 0.50rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     font-size: .75rem;
     font-weight: 700;
     border: 1px solid #ff3547 !important;
 }

 .uploaderButton {
     display: none;
     margin-top: 1.5rem;
     padding-top: .50rem;
     padding-bottom: 0.50rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     font-size: .75rem;
     font-weight: 700;
     border: 1px solid #78909c !important;
 }

 .reviewButton {
     margin-top: 1.5rem;
     padding-top: .50rem;
     padding-bottom: 0.50rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     font-size: .75rem;
     font-weight: 700;
     background: #f8f9fa !important;
     border: 1px solid #bbbbbb !important;
     color: #4d4d4d;
 }

 .addNewButton {
     margin-top: 1.5rem;
     padding-top: .50rem;
     padding-bottom: 0.50rem;
     padding-right: 1.5rem;
     padding-left: 1.5rem;
     font-size: .75rem;
     font-weight: 700;
     background: #f8f9fa !important;
     border: 1px solid #bbbbbb !important;
     color: #4d4d4d;
 }

 .homeButton {
    margin-top: 1.5rem;
    padding-top: .50rem;
    padding-bottom: 0.50rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: .75rem;
    font-weight: 700;
    background: #f8f9fa !important;
    border: 1px solid #bbbbbb !important;
    color: #4d4d4d;
}

.homeButton:hover {
    background: #bbbbbb !important;
    color: #4d4d4d !important;
    border: 1px solid #bbbbbb !important;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}
 .addNewButton:hover {
     background: #bbbbbb !important;
     color: #4d4d4d !important;
     border: 1px solid #bbbbbb !important;
     -webkit-box-shadow: unset !important;
     box-shadow: unset !important;
 }

 .reviewButton:hover {
     background: #bbbbbb !important;
     color: #4d4d4d !important;
     border: 1px solid #bbbbbb !important;
     -webkit-box-shadow: unset !important;
     box-shadow: unset !important;
 }

 .uploaderButton:hover {
     background: white !important;
     color: #78909c !important;
     border: 1px solid #78909c !important;
     -webkit-box-shadow: unset !important;
     box-shadow: unset !important;
 }

 .retryButton:hover {
     background: white !important;
     color: #ff3547 !important;
     border: 1px solid #ff3547 !important;
     -webkit-box-shadow: unset !important;
     box-shadow: unset !important;
 }